﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
</head>
<body>
    @Html.Raw(ViewBag.Html)

    @RenderBody()
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript" src="~/Scripts/PowerTowers/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/PowerTowers/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/PowerTowers/dist/styles.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/PowerTowers/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/Scripts/PowerTowers/dist/main.bundle.js"></script>

    
</body>
</html>
