.wrapper {
            display: block;
            margin: 0 auto;
            padding: 225px 0 0 0;
            max-width: 1360px;
        }

.content-container {
            width: 100%;
            max-height: 700px;
            margin: 0 auto;
            display: table-row;
            height: 100%;
        }

.powertower-block {
            position: relative;
            display: table-cell;
            height: 499.8px;
            width: 170px;
            text-align: center;
            margin: 0 0 100px 0;
        }

            .powertower-block:first-child {
                margin-left: 0px;
            }