<div>
    <div class="powertower-block_bgimage">
        <div class="powertower-block_bgimage_titletop">
            <div class="powertower-block_bgimage_titletop_text-block text-block">
                <span class="powertower-block_bgimage_titletop_title title">{{loadlevel.Title}}</span>
                <span class="powertower-block_bgimage_titletop_indicator indicator" [ngStyle]="{'border-color':(loadlevel.MinValue <= loadlevel.Value && loadlevel.MaxValue >= loadlevel.Value) ? '#21B249':'#9a0909'}">{{loadlevel.Value}}%</span>
            </div>
        </div>
        <div class="powertower-block_bgimage_indicator">
            <div class="powertower-block_bgimage_indicator_inner-content">
                <span class="powertower-block_bgimage_indicator_inner-content_bar" [ngStyle]="{'margin-bottom':loadlevel.MinValue+'%','height':loadlevel.Value+'%'}" ></span>
            </div>
        </div>
        <div class="powertower-block_bgimage_titlebottom">
            <div class="powertower-block_bgimage_titletop_text-block text-block">
                <span class="powertower-block_bgimage_titlebottom_title title">{{mass.Title}}</span>
                <span class="powertower-block_bgimage_titlebottom_indicator indicator" [ngStyle]="{'border-color':(mass.MinValue <= mass.Value && mass.MaxValue >= mass.Value) ? '#21B249':'#9a0909'}">{{mass.Value}}</span>
            </div>
        </div>
    </div>
</div>
